<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fan Place - 관리자 - 삭제된 댓글</title>
    <link rel="icon" th:href="@{/img/PF_Icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="flexColumn">
    <!-- 토스트 -->
    <div th:replace="commons :: toast"></div>

    <!-- 헤더 -->
    <div th:replace="commons :: adminHaeder"></div>

    <!-- 섹션 -->
    <section class="flexColumn alignCenter gapSm">
        <p class="title2Text bold">삭제된 댓글</p>

        <!-- 목록 -->
        <div class="list widthFull">
            <div class="row widthFull flex alignCenter">
                <p class="text1 textCenter">내역</p>
                <p class="text1 textCenter date">일시</p>
            </div>
            <a class="row widthFull flex alignCenter">
                <div class="widthFull flexColumn">
                    <p class="text2 lightText">게시판 - 탭 | 2026.01.01. 00:00 삭제됨(사유: 본인 삭제)</p>
                    <p class="text1">작성자 - 내용</p>
                </div>
                <p class="text1 textCenter date">2026.01.01. 00:00</p>
            </a>
            <a class="row widthFull flex alignCenter">
                <div class="widthFull flexColumn">
                    <p class="text2 lightText">게시판 - 탭 | 2026.01.01. 00:00 삭제됨(사유: 병신)</p>
                    <p class="text1">작성자 - 내용</p>
                </div>
                <p class="text1 textCenter date">2026.01.01. 00:00</p>
            </a>
            <a class="row widthFull flex alignCenter">
                <div class="widthFull flexColumn">
                    <p class="text2 lightText">게시판 - 탭 | 2026.01.01. 00:00 삭제됨(사유: 본인 삭제)</p>
                    <p class="text1">작성자 - 내용</p>
                </div>
                <p class="text1 textCenter date">2026.01.01. 00:00</p>
            </a>
            <a class="row widthFull flex alignCenter">
                <div class="widthFull flexColumn">
                    <p class="text2 lightText">게시판 - 탭 | 2026.01.01. 00:00 삭제됨(사유: 병신)</p>
                    <p class="text1">작성자 - 내용</p>
                </div>
                <p class="text1 textCenter date">2026.01.01. 00:00</p>
            </a>
            <a class="row widthFull flex alignCenter">
                <div class="widthFull flexColumn">
                    <p class="text2 lightText">게시판 - 탭 | 2026.01.01. 00:00 삭제됨(사유: 본인 삭제)</p>
                    <p class="text1">작성자 - 내용</p>
                </div>
                <p class="text1 textCenter date">2026.01.01. 00:00</p>
            </a>
            <a class="row widthFull flex alignCenter">
                <div class="widthFull flexColumn">
                    <p class="text2 lightText">게시판 - 탭 | 2026.01.01. 00:00 삭제됨(사유: 병신)</p>
                    <p class="text1">작성자 - 내용</p>
                </div>
                <p class="text1 textCenter date">2026.01.01. 00:00</p>
            </a>
            <a class="row widthFull flex alignCenter">
                <div class="widthFull flexColumn">
                    <p class="text2 lightText">게시판 - 탭 | 2026.01.01. 00:00 삭제됨(사유: 본인 삭제)</p>
                    <p class="text1">작성자 - 내용</p>
                </div>
                <p class="text1 textCenter date">2026.01.01. 00:00</p>
            </a>
            <a class="row widthFull flex alignCenter">
                <div class="widthFull flexColumn">
                    <p class="text2 lightText">게시판 - 탭 | 2026.01.01. 00:00 삭제됨(사유: 병신)</p>
                    <p class="text1">작성자 - 내용</p>
                </div>
                <p class="text1 textCenter date">2026.01.01. 00:00</p>
            </a>
            <a class="row widthFull flex alignCenter">
                <div class="widthFull flexColumn">
                    <p class="text2 lightText">게시판 - 탭 | 2026.01.01. 00:00 삭제됨(사유: 본인 삭제)</p>
                    <p class="text1">작성자 - 내용</p>
                </div>
                <p class="text1 textCenter date">2026.01.01. 00:00</p>
            </a>
            <a class="row widthFull flex alignCenter">
                <div class="widthFull flexColumn">
                    <p class="text2 lightText">게시판 - 탭 | 2026.01.01. 00:00 삭제됨(사유: 병신)</p>
                    <p class="text1">작성자 - 내용</p>
                </div>
                <p class="text1 textCenter date">2026.01.01. 00:00</p>
            </a>
        </div>

        <!-- 검색 -->
        <form name="deletedCommentSearch" class="searchForm flex gapXs">
            <input type="text" name="keyword" placeholder="삭제된 댓글 중 검색">
            <button type="button" class="btn teal" onclick="searchDeletedComment()">검색</button>
        </form>

        <!-- 페이지 -->
        <div class="pages flex justifyCenter gapXs">
            <a class="page"> < </a>
            <a class="page now"> 1 </a>
            <a class="page"> 2 </a>
            <a class="page"> 3 </a>
            <a class="page"> 4 </a>
            <a class="page"> 5 </a>
            <a class="page"> > </a>
        </div>
    </section>

    <!-- 모달 -->
    <div th:replace="commons :: modal"></div>

    <script type="module" th:src="@{/js/script.js}"></script>
</body>
</html>