<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fan Place - 관리자 - 삭제된 글</title>
    <link rel="icon" th:href="@{/img/PF_Icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="flexColumn">
    <!-- 토스트 -->
    <div th:replace="commons :: toast"></div>

    <!-- 헤더 -->
    <div th:replace="commons :: adminHaeder"></div>

    <!-- 섹션 -->
    <section class="flexColumn gapLg">
        <!-- 게시판 이름 -->
        <p class="title1Text bold textCenter">삭제된 글</p>

        <!-- 게시글 목록 -->
        <div class="postListMenu widthFull flexColumn gapSm alignCenter">
            <!-- 게시글 목록 -->
            <div class="postListMenu widthFull flexColumn gapSm alignCenter">
                <!-- 게시글 목록 -->
                <div class="postList widthFull">
                    <div class="post widthFull pdSm">
                        <div class="flex alignCenter gapXs">
                            <span class="postTab textCenter">탭</span>
                            <a class="text1">게시글 제목</a>
                        </div>
                        <a class="text1 writer">작성자</a>
                        <p class="text1 lightText">2026.01.01. 00:00 · 조회 999 · 좋아요 99 · 댓글 99</p>
                    </div>
                    <div class="post widthFull pdSm">
                        <div class="flex alignCenter gapXs">
                            <span class="postTab textCenter">탭</span>
                            <a class="text1">게시글 제목</a>
                        </div>
                        <a class="text1 writer">작성자</a>
                        <p class="text1 lightText">2026.01.01. 00:00 · 조회 999 · 좋아요 99 · 댓글 99</p>
                    </div>
                    <div class="post widthFull pdSm">
                        <div class="flex alignCenter gapXs">
                            <span class="postTab textCenter">탭</span>
                            <a class="text1">게시글 제목</a>
                        </div>
                        <a class="text1 writer">작성자</a>
                        <p class="text1 lightText">2026.01.01. 00:00 · 조회 999 · 좋아요 99 · 댓글 99</p>
                    </div>
                    <div class="post widthFull pdSm">
                        <div class="flex alignCenter gapXs">
                            <span class="postTab textCenter">탭</span>
                            <a class="text1">게시글 제목</a>
                        </div>
                        <a class="text1 writer">작성자</a>
                        <p class="text1 lightText">2026.01.01. 00:00 · 조회 999 · 좋아요 99 · 댓글 99</p>
                    </div>
                    <div class="post widthFull pdSm">
                        <div class="flex alignCenter gapXs">
                            <span class="postTab textCenter">탭</span>
                            <a class="text1">게시글 제목</a>
                        </div>
                        <a class="text1 writer">작성자</a>
                        <p class="text1 lightText">2026.01.01. 00:00 · 조회 999 · 좋아요 99 · 댓글 99</p>
                    </div>
                    <div class="post widthFull pdSm">
                        <div class="flex alignCenter gapXs">
                            <span class="postTab textCenter">탭</span>
                            <a class="text1">게시글 제목</a>
                        </div>
                        <a class="text1 writer">작성자</a>
                        <p class="text1 lightText">2026.01.01. 00:00 · 조회 999 · 좋아요 99 · 댓글 99</p>
                    </div>
                    <div class="post widthFull pdSm">
                        <div class="flex alignCenter gapXs">
                            <span class="postTab textCenter">탭</span>
                            <a class="text1">게시글 제목</a>
                        </div>
                        <a class="text1 writer">작성자</a>
                        <p class="text1 lightText">2026.01.01. 00:00 · 조회 999 · 좋아요 99 · 댓글 99</p>
                    </div>
                    <div class="post widthFull pdSm">
                        <div class="flex alignCenter gapXs">
                            <span class="postTab textCenter">탭</span>
                            <a class="text1">게시글 제목</a>
                        </div>
                        <a class="text1 writer">작성자</a>
                        <p class="text1 lightText">2026.01.01. 00:00 · 조회 999 · 좋아요 99 · 댓글 99</p>
                    </div>
                    <div class="post widthFull pdSm">
                        <div class="flex alignCenter gapXs">
                            <span class="postTab textCenter">탭</span>
                            <a class="text1">게시글 제목</a>
                        </div>
                        <a class="text1 writer">작성자</a>
                        <p class="text1 lightText">2026.01.01. 00:00 · 조회 999 · 좋아요 99 · 댓글 99</p>
                    </div>
                    <div class="post widthFull pdSm">
                        <div class="flex alignCenter gapXs">
                            <span class="postTab textCenter">탭</span>
                            <a class="text1">게시글 제목</a>
                        </div>
                        <a class="text1 writer">작성자</a>
                        <p class="text1 lightText">2026.01.01. 00:00 · 조회 999 · 좋아요 99 · 댓글 99</p>
                    </div>
                </div>

                <!-- 검색 -->
                <form name="search" class="searchForm flex gapXs">
                    <input type="text" name="keyword" placeholder="게시판 내 검색">
                    <button type="button" class="btn teal" onclick="searchBoard()">검색</button>
                </form>

                <!-- 페이지 -->
                <div class="pages flex justifyCenter gapXs">
                    <a class="page"> < </a>
                    <a class="page now"> 1 </a>
                    <a class="page"> 2 </a>
                    <a class="page"> 3 </a>
                    <a class="page"> 4 </a>
                    <a class="page"> 5 </a>
                    <a class="page"> > </a>
                </div>
            </div>

            <!-- 검색 -->
            <form name="deletedPostSearch" class="searchForm flex gapXs">
                <input type="text" name="keyword" placeholder="삭제된 게시글 중 검색">
                <button type="button" class="btn teal" onclick="searchDeletedSearch()">검색</button>
            </form>
            
            <!-- 페이지 -->
            <div class="pages flex justifyCenter gapXs">
                <a class="page"> < </a>
                <a class="page now"> 1 </a>
                <a class="page"> 2 </a>
                <a class="page"> 3 </a>
                <a class="page"> 4 </a>
                <a class="page"> 5 </a>
                <a class="page"> > </a>
            </div>
        </div>
    </section>

    <!-- 모달 -->
    <div th:replace="commons :: modal"></div>

    <script type="module" th:src="@{/js/script.js}"></script>
</body>
</html>