<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fan Place - 관리자 - 회원 목록</title>
    <link rel="icon" th:href="@{/img/PF_Icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="flexColumn">
    <!-- 토스트 -->
    <div th:replace="commons :: toast"></div>

    <!-- 헤더 -->
    <div th:replace="commons :: adminHaeder"></div>

    <!-- 섹션 -->
    <section class="flexColumn gapSm" id="userList">
        <!-- 목록 -->
        <div class="flexColumn gapSm" id="userListCards"></div>

        <!-- 페이지네이션 -->
        <div class="pages flex justifyCenter gapXs" id="userListPagination"></div>
    </section>

    <!-- 스크롤 내비게이션 -->
    <div th:replace="commons :: scrollNav"></div>

    <!-- 모달 -->
    <div th:replace="commons :: modal"></div>

    <script type="module" th:src="@{/js/script.js}"></script>
</body>
</html>