<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fan Place - 게시글 이름</title>
    <link rel="icon" href="/img/PF_Icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="flexColumn">
    <!-- 토스트 -->
    <div th:replace="commons :: toast"></div>

    <!-- 헤더 -->
    <div th:replace="commons :: header"></div>

    <!-- 섹션 -->
    <section class="flexColumn gapLg">
        <!-- 게시판 이름 -->
        <p class="title1Text bold textCenter">게시판 이름</p>

        <!-- 삭제된 글 표시 -->
        <div class="deletedCard widthFull flex alignCenter">
            <p class="text1 textCenter">삭제된 글입니다.(사유: 본인 삭제/<button class="textBtn text1" onclick="openModal('deletedReasonModal')">삭제 사유 변경</button>)</p>
        </div>

        <!-- 게시글 영역 -->
        <div class="flexColumn gapSm">
            <!-- 게시글 -->
            <div class="card pdMd flexColumn gapXs">
                <!-- 게시글 정보 -->
                <div class="postInfo">
                    <p class="text2">탭</p>
                    <p class="title2Text">게시글 제목</p>
                    <p class="text1"><a>작성자</a> · 1.234.567(대한민국, 서울, 서대문구)</p>
                    <p class="text2 lightText">2026.01.01. 00:00 · 조회 999 · 좋아요 9 · 댓글 100</p>
                </div>

                <!-- 게시글 본문 -->
                <div class="postContent"> 본문 </div>

                <!-- 게시글 관리 -->
                <div class="flex justifyEnd gapXs">
                    <button class="btn like">♡</button>
                    <a class="btn teal">수정</a>
                    <button class="btn teal" onclick="openModal('deletedModal')">삭제</button>
                    <button class="btn teal" onclick="openModal('adminDeletedModal')">삭제(관리자)</button>
                </div>
            </div>

            <!-- 게시글 핸들러 -->
            <div class="flex justifyBetween">
                <a class="btn navy">이전 글</a>
                <a class="btn navy">목록으로</a>
                <a class="btn navy">다음 글</a>
            </div>
        </div>

        <!-- 댓글 영역 -->
        <div id="comment" class="flexColumn gapSm">
            <!-- 댓글 개수 -->
            <p class="title2Text bold">댓글 <span class="pointColorText">100</span></p>

            <!-- 댓글 작성 폼 -->
            <form name="commentForm" class="commentForm flexColumn gapXs">
                <!-- 폼 헤더 -->
                <div class="sectionHeader flex justifyBetween">
                    <span class="title2Text bold">댓글 작성하기</span>
                    <button type="button" class="btn teal" onclick="subComment()">등록</button>
                </div>
                <!-- 댓글 내용 입력 -->
                <textarea name="content" placeholder="500자 이내, 등록 후 수정이 불가합니다."></textarea>
            </form>

            <!-- 댓글 목록 -->
            <div class="commentList flexColumn gapXs">
                <div class="comment card pdXs">
                    <a class="text1 bold">닉네임</a>
                    <p class="text2 lightText">2026.01.01. 00:00</p>
                    <div class="commentMenu flex justifyEnd gapXs">
                        <button class="btn teal" onclick="toggleRecommentForm(this)">답글</button>
                        <button class="btn teal" onclick="openModal('deletedModal')">삭제</button>
                        <button class="btn teal" onclick="openModal('adminDeletedModal')">삭제(관리자)</button>
                    </div>
                    <p class="text1">내용</p>
                    <form name="recommentForm" class="commentForm flexColumn gapXs">
                        <div class="sectionHeader flex justifyBetween">
                            <span class="title2Text bold">대댓글 작성하기</span>
                            <button type="button" class="btn teal" onclick="subRecomment(this)">등록</button>
                        </div>
                        <textarea name="content" placeholder="500자 이내, 등록 후 수정이 불가합니다."></textarea>
                    </form>
                </div>
                <div class="recomment flex gapXs">
                    <div class="recommentLine"></div>
                    <div class="comment widthFull card pdXs">
                        <a class="text1 bold">닉네임</a>
                        <p class="text2 lightText">2026.01.01. 00:00</p>
                        <div class="commentMenu flex justifyEnd gapXs">
                            <button class="btn teal" onclick="toggleRecommentForm(this)">언급</button>
                            <button class="btn teal" onclick="openModal('deletedModal')">삭제</button>
                            <button class="btn teal" onclick="openModal('adminDeletedModal')">삭제(관리자)</button>
                        </div>
                        <p class="text1">내용</p>
                        <form name="recommentForm" class="commentForm flexColumn gapXs">
                            <div class="sectionHeader flex justifyBetween">
                                <span class="title2Text bold">대댓글 작성하기</span>
                                <button type="button" class="btn teal" onclick="subRecomment(this)">등록</button>
                            </div>
                            <textarea name="content" placeholder="500자 이내, 등록 후 수정이 불가합니다."></textarea>
                        </form>
                    </div>
                </div>
                <div class="comment card pdXs">
                    <a class="text1 bold">닉네임</a>
                    <p class="text2 lightText">2026.01.01. 00:00</p>
                    <div class="commentMenu flex justifyEnd gapXs">
                        <button class="btn teal" onclick="toggleRecommentForm(this)">답글</button>
                        <button class="btn teal" onclick="openModal('deletedModal')">삭제</button>
                        <button class="btn teal" onclick="openModal('adminDeletedModal')">삭제(관리자)</button>
                    </div>
                    <p class="text1">내용</p>
                    <form name="recommentForm" class="commentForm flexColumn gapXs">
                        <div class="sectionHeader flex justifyBetween">
                            <span class="title2Text bold">대댓글 작성하기</span>
                            <button type="button" class="btn teal" onclick="subRecomment(this)">등록</button>
                        </div>
                        <textarea name="content" placeholder="500자 이내, 등록 후 수정이 불가합니다."></textarea>
                    </form>
                </div>
                <div class="comment card pdXs">
                    <a class="text1 bold">닉네임</a>
                    <p class="text2 lightText">2026.01.01. 00:00</p>
                    <div class="commentMenu flex justifyEnd gapXs">
                        <button class="btn teal" onclick="toggleRecommentForm(this)">답글</button>
                        <button class="btn teal" onclick="openModal('deletedModal')">삭제</button>
                        <button class="btn teal" onclick="openModal('adminDeletedModal')">삭제(관리자)</button>
                    </div>
                    <p class="text1">내용</p>
                    <form name="recommentForm" class="commentForm flexColumn gapXs">
                        <div class="sectionHeader flex justifyBetween">
                            <span class="title2Text bold">대댓글 작성하기</span>
                            <button type="button" class="btn teal" onclick="subRecomment(this)">등록</button>
                        </div>
                        <textarea name="content" placeholder="500자 이내, 등록 후 수정이 불가합니다."></textarea>
                    </form>
                </div>
                <div class="comment card pdXs">
                    <a class="text1 bold">닉네임</a>
                    <p class="text2 lightText">2026.01.01. 00:00</p>
                    <div class="commentMenu flex justifyEnd gapXs">
                        <button class="btn teal" onclick="toggleRecommentForm(this)">답글</button>
                        <button class="btn teal" onclick="openModal('deletedModal')">삭제</button>
                        <button class="btn teal" onclick="openModal('adminDeletedModal')">삭제(관리자)</button>
                    </div>
                    <p class="text1">내용</p>
                    <form name="recommentForm" class="commentForm flexColumn gapXs">
                        <div class="sectionHeader flex justifyBetween">
                            <span class="title2Text bold">대댓글 작성하기</span>
                            <button type="button" class="btn teal" onclick="subRecomment(this)">등록</button>
                        </div>
                        <textarea name="content" placeholder="500자 이내, 등록 후 수정이 불가합니다."></textarea>
                    </form>
                </div>
                <div class="comment card pdXs">
                    <a class="text1 bold">닉네임</a>
                    <p class="text2 lightText">2026.01.01. 00:00</p>
                    <div class="commentMenu flex justifyEnd gapXs">
                        <button class="btn teal" onclick="toggleRecommentForm(this)">답글</button>
                        <button class="btn teal" onclick="openModal('deletedModal')">삭제</button>
                        <button class="btn teal" onclick="openModal('adminDeletedModal')">삭제(관리자)</button>
                    </div>
                    <p class="text1">내용</p>
                    <form name="recommentForm" class="commentForm flexColumn gapXs">
                        <div class="sectionHeader flex justifyBetween">
                            <span class="title2Text bold">대댓글 작성하기</span>
                            <button type="button" class="btn teal" onclick="subRecomment(this)">등록</button>
                        </div>
                        <textarea name="content" placeholder="500자 이내, 등록 후 수정이 불가합니다."></textarea>
                    </form>
                </div>
                <div class="comment card pdXs">
                    <a class="text1 bold">닉네임</a>
                    <p class="text2 lightText">2026.01.01. 00:00</p>
                    <div class="commentMenu flex justifyEnd gapXs">
                        <button class="btn teal" onclick="toggleRecommentForm(this)">답글</button>
                        <button class="btn teal" onclick="openModal('deletedModal')">삭제</button>
                        <button class="btn teal" onclick="openModal('adminDeletedModal')">삭제(관리자)</button>
                    </div>
                    <p class="text1">내용</p>
                    <form name="recommentForm" class="commentForm flexColumn gapXs">
                        <div class="sectionHeader flex justifyBetween">
                            <span class="title2Text bold">대댓글 작성하기</span>
                            <button type="button" class="btn teal" onclick="subRecomment(this)">등록</button>
                        </div>
                        <textarea name="content" placeholder="500자 이내, 등록 후 수정이 불가합니다."></textarea>
                    </form>
                </div>
                <div class="comment card pdXs">
                    <a class="text1 bold">닉네임</a>
                    <p class="text2 lightText">2026.01.01. 00:00</p>
                    <div class="commentMenu flex justifyEnd gapXs">
                        <button class="btn teal" onclick="toggleRecommentForm(this)">답글</button>
                        <button class="btn teal" onclick="openModal('deletedModal')">삭제</button>
                        <button class="btn teal" onclick="openModal('adminDeletedModal')">삭제(관리자)</button>
                    </div>
                    <p class="text1">내용</p>
                    <form name="recommentForm" class="commentForm flexColumn gapXs">
                        <div class="sectionHeader flex justifyBetween">
                            <span class="title2Text bold">대댓글 작성하기</span>
                            <button type="button" class="btn teal" onclick="subRecomment(this)">등록</button>
                        </div>
                        <textarea name="content" placeholder="500자 이내, 등록 후 수정이 불가합니다."></textarea>
                    </form>
                </div>
                <div class="comment card pdXs">
                    <a class="text1 bold">닉네임</a>
                    <p class="text2 lightText">2026.01.01. 00:00</p>
                    <div class="commentMenu flex justifyEnd gapXs">
                        <button class="btn teal" onclick="toggleRecommentForm(this)">답글</button>
                        <button class="btn teal" onclick="openModal('deletedModal')">삭제</button>
                        <button class="btn teal" onclick="openModal('adminDeletedModal')">삭제(관리자)</button>
                    </div>
                    <p class="text1">내용</p>
                    <form name="recommentForm" class="commentForm flexColumn gapXs">
                        <div class="sectionHeader flex justifyBetween">
                            <span class="title2Text bold">대댓글 작성하기</span>
                            <button type="button" class="btn teal" onclick="subRecomment(this)">등록</button>
                        </div>
                        <textarea name="content" placeholder="500자 이내, 등록 후 수정이 불가합니다."></textarea>
                    </form>
                </div>
                <div class="comment card pdXs">
                    <a class="text1 bold">닉네임</a>
                    <p class="text2 lightText">2026.01.01. 00:00</p>
                    <div class="commentMenu flex justifyEnd gapXs">
                        <button class="btn teal" onclick="toggleRecommentForm(this)">답글</button>
                        <button class="btn teal" onclick="openModal('deletedModal')">삭제</button>
                        <button class="btn teal" onclick="openModal('adminDeletedModal')">삭제(관리자)</button>
                    </div>
                    <p class="text1">내용</p>
                    <form name="recommentForm" class="commentForm flexColumn gapXs">
                        <div class="sectionHeader flex justifyBetween">
                            <span class="title2Text bold">대댓글 작성하기</span>
                            <button type="button" class="btn teal" onclick="subRecomment(this)">등록</button>
                        </div>
                        <textarea name="content" placeholder="500자 이내, 등록 후 수정이 불가합니다."></textarea>
                    </form>
                </div>
                <div class="comment card pdXs">
                    <a class="text1 bold">닉네임</a>
                    <p class="text2 lightText">2026.01.01. 00:00</p>
                    <div class="commentMenu flex justifyEnd gapXs">
                        <button class="btn teal" onclick="toggleRecommentForm(this)">답글</button>
                        <button class="btn teal" onclick="openModal('deletedModal')">삭제</button>
                        <button class="btn teal" onclick="openModal('adminDeletedModal')">삭제(관리자)</button>
                    </div>
                    <p class="text1">내용</p>
                    <form name="recommentForm" class="commentForm flexColumn gapXs">
                        <div class="sectionHeader flex justifyBetween">
                            <span class="title2Text bold">대댓글 작성하기</span>
                            <button type="button" class="btn teal" onclick="subRecomment(this)">등록</button>
                        </div>
                        <textarea name="content" placeholder="500자 이내, 등록 후 수정이 불가합니다."></textarea>
                    </form>
                </div>
            </div>
            
            <!-- 페이지 -->
            <div class="pages flex justifyCenter gapXs">
                <a class="page"> < </a>
                <a class="page now"> 1 </a>
                <a class="page"> 2 </a>
                <a class="page"> 3 </a>
                <a class="page"> 4 </a>
                <a class="page"> 5 </a>
                <a class="page"> > </a>
            </div>
        </div>
    </section>

    <!-- 스크롤 내비게이션 -->
    <nav class="scrollNav flexColumn">
        <button class="scrollBtn textBtn background" onclick="scrollCtr('top')">▲</button>
        <button class="scrollBtn textBtn background" id="myCommentScr" onclick="scrollCtr('comment')"></button>
        <button class="scrollBtn textBtn background" onclick="scrollCtr('bottom')">▼</button>
    </nav>

    <!-- 푸터 -->
    <div th:replace="commons :: footer"></div>

    <!-- 모달 -->
    <div th:replace="commons :: modal"></div>
    
    <script src="/js/import.js"></script>
    <script type="module" src="/js/script.js"></script>
</body>
</html>