<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Fan Place - ' + (${post.deleted} ? '[삭제된 글]' : ${post.title})"></title>
    <link rel="icon" th:href="@{/img/PF_Icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="flexColumn">
    <!-- 토스트 -->
    <div th:replace="commons :: toast"></div>

    <!-- 헤더 -->
    <div th:replace="commons :: mainHeader"></div>

    <!-- 섹션 -->
    <section class="flexColumn gapLg"
    th:attr="data-auth=${#authorization.expression('isAuthenticated()')},
    data-admin=${#authorization.expression('hasRole(''ADMIN'')')}">
    <!-- 게시판 이름 -->
        <p class="title1Text bold textCenter" th:text="${header.boardName}"></p>

        <!-- 삭제된 글 표시 -->
        <div class="deletedCard widthFull flex alignCenter" th:if="${post.deleted}">
            <p class="text1 textCenter">
                삭제된 글입니다.(사유:
                <span th:text="${post.deletedReasonDisplay}">본인 삭제</span>/
                <button class="textBtn text1" th:if="${canChangeDeletedReason}"
                onclick="openModal('deletedReasonModal')">삭제 사유 변경</button>)
            </p>
        </div>

        <!-- 게시글 영역 -->
        <div class="flexColumn gapSm">
            <!-- 게시글 -->
            <div class="card pdMd flexColumn gapXs">
                <!-- 게시글 정보 -->
                <div class="postInfo">
                    <p class="text2" th:text="${post.categoryName}"></p>
                    <p class="title2Text" th:text="${post.title}"></p>
                    <p class="text1">
                        <a th:text="${post.authorName != null ? post.authorName : '익명'}">작성자</a>
                        <span sec:authorize="hasRole('ADMIN')"> · </span>
                        <span sec:authorize="hasRole('ADMIN')" th:if="${post.ip != null}" th:text="${post.ip}"></span>
                        <span sec:authorize="hasRole('ADMIN')" th:text="${'(' + post.region + ')'}"></span>
                    </p>

                    <p class="text2 lightText">
                        <span class="lightText"
                        th:text="${#temporals.format(post.createdAt, 'yyyy.MM.dd. HH:mm')}"></span>
                        · 조회 <span class="lightText" th:text="${post.viewCount}"></span>
                        · 좋아요 <span class="lightText" th:text="${post.likeCount}"></span>
                        · 댓글 <span class="lightText" th:text="${post.commentCount}"></span>
                    </p>
                </div>

                <!-- 게시글 본문 -->
                <div class="postContent" th:utext="${post.content}"></div>

                <!-- 게시글 관리 -->
                <div class="flex justifyEnd gapXs">
                    <button sec:authorize="isAuthenticated()" class="btn like" th:if="${canLike}"
                    th:attr="data-post-id=${post.postId}" onclick="like(this)">♡</button>
                    <a class="btn teal" th:if="${canEdit}"
                    th:href="@{/{boardId}/post/{postId}/edit(boardId=${boardId}, postId=${post.postId})}">수정</a>
                    <button class="btn teal" th:if="${canDelete}" onclick="openPostDeleteModal()">삭제</button>
                    <button class="btn teal" th:if="${canAdminDelete}" onclick="openPostAdminDeleteModal()">삭제(관리자)</button>
                </div>
            </div>

            <!-- 게시글 핸들러 -->
            <div class="flex justifyBetween">
                <a class="btn navy" th:if="${prevPostId != null}"
                th:href="@{/{boardId}/post/{postId}(boardId=${boardId}, postId=${prevPostId})}">
                    이전 글
                </a>
                <span class="btn navy" th:if="${prevPostId == null}" style="opacity: 0.5; pointer-events: none;">첫 글</span>
                <a class="btn navy" th:href="@{/{boardId}(boardId=${boardId})}">목록으로</a>
                <a class="btn navy" th:if="${nextPostId != null}"
                th:href="@{/{boardId}/post/{postId}(boardId=${boardId}, postId=${nextPostId})}">
                    다음 글
                </a>
                <span class="btn navy" th:if="${nextPostId == null}" style="opacity: 0.5; pointer-events: none;">마지막 글</span>
            </div>
        </div>

        <!-- 댓글 영역 -->
        <div id="comment" class="flexColumn gapSm">
            <!-- 댓글 개수 -->
            <p class="title2Text bold">
                댓글 <span class="pointColorText" th:text="${post.commentCount}"></span>개
            </p>

            <!-- 댓글 작성 폼 -->
            <form sec:authorize="isAuthenticated()" th:if="${!post.deleted}" name="commentForm" class="commentForm flexColumn gapXs">
                <!-- 폼 헤더 -->
                <div class="sectionHeader flex justifyBetween">
                    <span class="title2Text bold">댓글 작성하기</span>
                    <button type="button" class="btn teal" onclick="subComment()">등록</button>
                </div>
                <!-- 댓글 내용 입력 -->
                <textarea name="content" placeholder="500자 이내, 등록 후 수정이 불가합니다."></textarea>
            </form>

            <!-- 댓글 목록 -->
            <div class="commentList flexColumn gapXs" id="commentList"></div>

            <!-- 페이지 -->
            <div class="pages flex justifyCenter gapXs" id="commentPagination"></div>
        </div>
    </section>

    <!-- 스크롤 내비게이션 -->
    <nav class="scrollNav flexColumn">
        <button class="scrollBtn textBtn background" onclick="scrollCtr('top')">▲</button>
        <button class="scrollBtn textBtn background" id="myCommentScr" onclick="scrollCtr('comment')"></button>
        <button class="scrollBtn textBtn background" onclick="scrollCtr('bottom')">▼</button>
    </nav>

    <!-- 푸터 -->
    <div th:replace="commons :: footer"></div>

    <!-- 모달 -->
    <div th:replace="commons :: modal"></div>

    <!-- 일반 삭제 폼 -->
    <form id="postDeleteForm"
    th:action="@{/{boardId}/post/{postId}/delete(boardId=${boardId}, postId=${post.postId})}"
    method="post" style="display:none;">
        <input type="hidden" th:if="${_csrf != null}"
        th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>

    <!-- 관리자 삭제 폼 -->
    <form id="postAdminDeleteForm"
    th:action="@{/{boardId}/post/{postId}/delete(boardId=${boardId}, postId=${post.postId})}"
    method="post" style="display:none;">
        <input type="hidden" th:if="${_csrf != null}"
        th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="hidden" name="reason" value="" />
    </form>

    <!-- 삭제 사유 변경 폼 -->
    <form id="postDeletedReasonForm"
    th:action="@{/{boardId}/post/{postId}/deleted-reason(boardId=${boardId}, postId=${post.postId})}"
    method="post" style="display:none;">
        <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="hidden" name="reason" value=""/>
    </form>

    <!-- 댓글/대댓글 일반 삭제 폼 -->
    <form id="commentDeleteForm" method="post" style="display:none;">
        <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>

    <!-- 댓글/대댓글 관리자 삭제 폼 -->
    <form id="commentAdminDeleteForm" method="post" style="display:none;">
        <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="hidden" name="reason" value="" />
    </form>

    <script type="module" th:src="@{/js/script.js}"></script>
</body>
</html>