<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Fan Place - ' + ${header.boardName} + ' ' + (${mode} == 'edit' ? '수정' : '글쓰기')"></title>
    <link rel="icon" th:href="@{/img/PF_Icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="flexColumn">
    <!-- 토스트 -->
    <div th:replace="commons :: toast"></div>

    <!-- 헤더 -->
    <div th:replace="commons :: mainHeader"></div>

    <!-- 섹션 -->
    <section class="flexColumn gapSm">
        <!-- 게시판 이름 -->
        <p class="title1Text bold textCenter" th:text="${header.boardName}"></p>

        <!-- 작성 폼 -->
        <form name="writeForm" class="writeForm flexColumn alignEnd gapXs pdSm"
        th:object="${form}" th:action="${mode} == 'edit'
        ? @{/{boardId}/post/{postId}/edit(boardId=${boardId}, postId=${postId})}
        : @{/{boardId}/write(boardId=${boardId})}" method="post">
        <div class="flexColumnMov gapXs widthFull">
            <select name="categoryId" class="widthFull">
                <option th:each="cat : ${header.categories}"
                th:value="${cat.categoryId}" th:text="${cat.categoryName}"
                th:selected="${cat.categoryId == form.categoryId}">
                </option>
            </select>
            <input class="widthFull" type="text" name="title" placeholder="제목" th:value="*{title}">
            </div>
            <textarea class="widthFull" name="content"
            data-tinymce="post" data-editor-height="600" th:text="*{content}"></textarea>
            <button type="submit" class="btn teal" onclick="board.writePost(commons)"
            th:text="${mode} == 'edit' ? '수정' : '등록'"></button>
        </form>
    </section>

    <!-- 푸터 -->
    <div th:replace="commons :: footer"></div>

    <!-- 모달 -->
    <div th:replace="commons :: modal"></div>

    <script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
    <script type="module" th:src="@{/js/script.js}"></script>
</body>
</html>