<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fan Place - 알람</title>
    <link rel="icon" th:href="@{/img/PF_Icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="flexColumn">
    <!-- 토스트 -->
    <div th:replace="commons :: toast"></div>

    <!-- 헤더 -->
    <div th:replace="commons :: mainHeader"></div>

    <!-- 섹션 -->
    <section class="flexColumn gapSm" data-alarm-page="1">
        <!-- 헤더 -->
        <div class="alarmHeader flex justifyBetween">
            <p class="title2Text bold">알람</p>
            <label class="checkbox flex justifyEnd alignCenter gapXs">
                <input type="checkbox" id="alarmUnreadOnly"> 안 읽은 알람만 보기
            </label>
        </div>

        <!-- 목록 -->
        <div class="list widthFull" id="alarmList">
            <div class="row widthFull flex alignCenter">
                <p class="text1 textCenter">내역</p>
                <p class="text1 textCenter date">일시</p>
            </div>
        </div>

        <!-- 페이지 -->
        <div class="pages flex justifyCenter gapXs" id="alarmPagination"></div>
    </section>

    <!-- 스크롤 내비게이션 -->
    <div th:replace="commons :: scrollNav"></div>

    <!-- 푸터 -->
    <div th:replace="commons :: footer"></div>

    <!-- 모달 -->
    <div th:replace="commons :: modal"></div>

    <script type="module" th:src="@{/js/script.js}"></script>
</body>
</html>