<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- 헤더 -->
<header th:fragment="mainHeader" class="header widthFull"
th:attr="data-auth=${#authorization.expression('isAuthenticated()')},
data-admin=${#authorization.expression('hasRole(''ADMIN'')')}">
    <!-- 컨테이너 -->
    <div class="container flexColumn gapSm">
        <!-- 상단 -->
        <div class="headerTop widthFull flex justifyEnd alignCenter gapSm">
            <!-- 비로그인 메뉴 -->
            <th:block sec:authorize="isAnonymous()">
                <a class="text3 lightText" th:href="@{/auth/login}">로그인</a>
                <a class="text3 lightText" th:href="@{/auth/join}">회원가입</a>
                <a class="text3 lightText" th:href="@{/auth/find-account}">계정 찾기</a>
            </th:block>

            <!-- 관리자 메뉴 -->
            <th:block sec:authorize="hasRole('ADMIN')"> <a class="text3 lightText" th:href="@{/admin/}">관리자</a> </th:block>

            <!-- 로그인 메뉴 -->
            <th:block sec:authorize="isAuthenticated()">
                <a class="text3 lightText" onclick="goMyInfo()">내 정보</a>
                <a id="alarmLinkTop" class="text3 lightText" th:href="@{/user/alarm}">알람</a>
                <a class="text3 lightText" th:href="@{/auth/change-pw}">비밀번호 변경</a>
                <a class="text3 lightText" th:href="@{/auth/withdraw}">회원 탈퇴</a>
                <button class="textBtn text3 lightText" onclick="openModal('logoutModal')">로그아웃</button>
            </th:block>

            <button class="textBtn text3 lightText" onclick="toggleUi()">다크 모드</button>
        </div>
        <!-- 중앙 -->
        <div class="headerMiddle widthFull flexColumnMov justifyBetween alignEnd">
            <a class="toMian background" th:href="@{/}"></a>
            <form name="univSearch" class="searchForm flex gapXs" th:action="@{/search}" method="get">
                <input type="text" name="keyword" placeholder="통합 검색">
                <button type="button" class="btn teal" onclick="searchUniv()">검색</button>
            </form>
        </div>
        <!-- 하단 -->
        <div class="headerBottom widthFull flex">
            <a class="btn navy widthFull" th:href="@{/baseball}">스포츠</a>
            <a class="btn navy widthFull" th:href="@{/creation}">미디어</a>
            <a class="btn navy widthFull" th:href="@{/notice}">커뮤니티</a>
            <!-- 서브 메뉴 -->
            <div class="subMenuWrap widthFull">
                <div class="subMenu widthFull flex">
                    <div class="widthFull pdMd">
                        <a class="text1" th:href="@{/baseball}">야구</a>
                        <a class="text1" th:href="@{/soccer}">축구</a>
                        <a class="text1" th:href="@{/basketball}">농구</a>
                        <a class="text1" th:href="@{/esports}">E스포츠</a>
                        <a class="text1" th:href="@{/others}">기타 스포츠</a>
                    </div>
                    <div class="widthFull pdMd">
                        <a class="text1" th:href="@{/creation}">창작물</a>
                        <a class="text1" th:href="@{/game}">게임</a>
                        <a class="text1" th:href="@{/show}">예능/방송</a>
                    </div>
                    <div class="widthFull pdMd">
                        <a class="text1" th:href="@{/notice}">공지사항</a>
                        <a class="text1" th:href="@{/inquiry}">문의/건의</a>
                        <a class="text1" th:href="@{/free}">자유</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 햄버거 메뉴 -->
    <button class="textBtn hamburger" onclick="toggleDrawer()">☰</button>
    <!-- 드로어 -->
    <div class="drawer">
        <a class="title1Text">사용자 메뉴</a>
        <div class="drawerMenu widthFull pdMd gapXs">
            <!-- 비로그인 메뉴 -->
            <th:block sec:authorize="isAnonymous()">
                <a class="text1" th:href="@{/auth/login}">로그인</a>
                <a class="text1" th:href="@{/auth/join}">회원가입</a>
                <a class="text1" th:href="@{/auth/find-account}">계정 찾기</a>
            </th:block>

            <!-- 관리자 메뉴 -->
            <th:block sec:authorize="hasRole('ADMIN')"> <a class="text1" th:href="@{/admin/}">관리자</a> </th:block>

            <!-- 로그인 메뉴 -->
            <th:block sec:authorize="isAuthenticated()">
                <a class="text1"  onclick="goMyInfo()">내 정보</a>
                <a id="alarmLinkDrawer" class="text1" th:href="@{/user/alarm}">알람</a>
                <a class="text1" th:href="@{/auth/change-pw}">비밀번호 변경</a>
                <a class="text1" th:href="@{/auth/withdraw}">회원 탈퇴</a>
                <button class="textBtn text1 textLeft" onclick="openModal('logoutModal')">로그아웃</button>
            </th:block>

            <button class="textBtn text1 textLeft" onclick="toggleUi()">다크모드</button>
        </div>
        <a class="title1Text" th:href="@{/baseball}">스포츠</a>
        <div class="drawerMenu widthFull pdMd gapXs">
            <a class="text1" th:href="@{/baseball}">야구</a>
            <a class="text1" th:href="@{/soccer}">축구</a>
            <a class="text1" th:href="@{/basketball}">농구</a>
            <a class="text1" th:href="@{/volleyball}">배구</a>
            <a class="text1" th:href="@{/esports}">E스포츠</a>
            <a class="text1" th:href="@{/others}">기타 스포츠</a>
        </div>
        <a class="title1Text" th:href="@{/creation}">미디어</a>
        <div class="drawerMenu widthFull pdMd gapXs">
            <a class="text1" th:href="@{/creation}">창작물</a>
            <a class="text1" th:href="@{/game}">게임</a>
            <a class="text1" th:href="@{/show}">예능/방송</a>
        </div>
        <a class="title1Text" th:href="@{/notice}">커뮤니티</a>
        <div class="drawerMenu widthFull pdMd gapXs">
            <a class="text1" th:href="@{/notice}">공지사항</a>
            <a class="text1" th:href="@{/inquiry}">문의/건의</a>
            <a class="text1" th:href="@{/free}">자유</a>
        </div>
    </div>
</header>

<!-- 관리자 헤더 -->
<header th:fragment="adminHaeder" class="adminHaeder">
    <div class="container flexColumn gapSm">
        <div class="headerBottom admin widthFull flex">
            <a class="btn navy widthFull" th:href="@{/admin/}">대시보드</a>
            <a class="btn navy widthFull" th:href="@{/admin/user-list}">회원 목록</a>
            <a class="btn navy widthFull" th:href="@{/admin/deleted-post}">삭제된 글</a>
            <a class="btn navy widthFull" th:href="@{/admin/deleted-comment}">삭제된 댓글</a>
            <a class="btn teal widthFull" th:href="@{/}">관리자 나가기</a>
        </div>
    </div>
</header>

<!-- 푸터 -->
<footer th:fragment="footer" class="pdMd">
    <div class="container flexColumn gapMd">
        <div class="footerMenu flex gapSm">
            <a class="text1" href="https://fanplace.co.kr/notice/post/1">이용약관</a>
            <a class="text1" href="https://fanplace.co.kr/notice/post/2">개인정보 처리방침</a>
            <a class="text1" href="https://fanplace.co.kr/notice/post/3">청소년 보호 정책</a>
            <a class="text1" href="https://fanplace.co.kr/notice/post/4">게시판 이용 규정</a>
        </div>
        <p class="text1">
            <a class="pointColorText" href="https://blankspace.io.kr/" target="_blank">BLANKSPACE↗</a> | 사업자등록번호 716-50-01088 | 개인정보 보호 책임자 박예린 <br>
            문의 b1ank09114@gmail.com <br>
            COPYRIGHT © 2026 BLANKSPACE. ALL RIGHTS RESERVED. <br>
        </p>
    </div>
</footer>

<!-- 토스트 -->
<div th:fragment="toast" class="toastWarp">
    <div class="toast widthFull">
        <div class="toastContent flex alignCenter gapXs">
            <span id="toastText" class="text1">토스트</span>
            <button class="textBtn textCenter" onclick="closeToast()">X</button>
            <div class="progress widthFull"> <div class="progressBar widthFull"></div> </div>
        </div>
    </div>
</div>

<!-- 스크롤 내비게이션 -->
<nav th:fragment="scrollNav" class="scrollNav flexColumn">
    <button class="scrollBtn textBtn" onclick="scrollCtr('top')">▲</button>
    <button class="scrollBtn textBtn" onclick="scrollCtr('bottom')">▼</button>
</nav>

<!-- 모달 목록 -->
<div th:fragment="modal" class="modalOveray widthFull justifyCenter alignCenter">
    <!-- 로그아웃 모달 -->
    <div class="modal pdMd flexColumn alignEnd gapXs" id="logoutModal">
        <button class="textBtn" onclick="closeModal('logoutModal')">X</button>
        <p class="text1">로그아웃하시겠습니까?</p>
        <button class="btn teal" onclick="logout();">예</button>
    </div>

    <!-- 차단 모달 -->
    <div class="modal pdMd flexColumn alignEnd gapXs" id="blockModal">
        <button class="textBtn" onclick="closeModal('blockModal')">X</button>
        <div class="widthFull flex gapSm">
            <select name="long">
                <option value="1">1일</option>
                <option value="7">7일</option>
                <option value="30">30일</option>
                <option value="0">영구</option>
            </select>
            <input name="reason" type="text" placeholder="차단 사유">
        </div>
        <button class="btn teal">차단</button>
    </div>

    <!-- 차단 취소 모달 -->
    <div class="modal pdMd flexColumn alignEnd gapXs" id="blockCancelModal">
        <button class="textBtn" onclick="closeModal('blockCancelModal')">X</button>
        <p class="text1">차단 기록을 삭제하시겠습니까?</p>
        <button class="btn teal">확인</button>
    </div>

    <!-- 삭제 모달 -->
    <div class="modal pdMd flexColumn alignEnd gapXs" id="deletedModal">
        <button class="textBtn" onclick="closeModal('deletedModal')">X</button>
        <p class="text1">게시글 혹은 댓글을 삭제하시겠습니까?</p>
        <button class="btn teal">확인</button>
    </div>

    <!-- 관리자 삭제 모달 -->
    <div class="modal pdMd flexColumn alignEnd gapXs" id="adminDeletedModal">
        <button class="textBtn" onclick="closeModal('adminDeletedModal')">X</button>
        <input name="reason" type="text" placeholder="삭제 사유">
        <button class="btn teal">확인</button>
    </div>

    <!-- 삭제 사유 변경 모달 -->
    <div class="modal pdMd flexColumn alignEnd gapXs" id="deletedReasonModal">
        <button class="textBtn" onclick="closeModal('deletedReasonModal')">X</button>
        <input name="reason" type="text" placeholder="삭제 사유 입력">
        <button class="btn teal">확인</button>
    </div>
</div>

<script th:src="@{/lib/sockjs.min.js}"></script>
<script th:src="@{/lib/stomp.umd.min.js}"></script>
</html>