<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fan Place - 에러!</title>
    <link rel="icon" th:href="@{/img/PF_Icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="errorBody flex justifyCenter alignCenter">
    <!-- 에러 -->
    <div class="error pdMd flexColumn alignCenter">
        <p class="title1Text textCenter bold">· ERROR ·</p>
        <p class="errorCode bold" th:text="${status}"></p>
        <p class="title1Text textCenter bold" th:text="${title}"></p>
        <p class="title2Text textCenter" th:text="${message}"></p>
        <a class="btn navy" th:href="@{/}">메인 페이지로 이동</a>
    </div>

    <script type="module" th:src="@{/js/script.js}"></script>
</body>
</html>